<footer class="footer-container">
  <div class="max-width-container">
    <div class="row">
      <div class="col">
        <div class="footer-logo">
          <img src="assets/images/logo.svg" />
        </div>
      </div>
      <div class="col">
        <div class="footer-list-container">
          <span class="footer-list-title"> КОНТАКТИ </span>
          <span class="footer-list-item"> +380987081919 </span>
          <span class="footer-list-item"> +380678160505 </span>
          <span class="footer-list-item"> freshauto.rv@gmail.com </span>
        </div>
      </div>
      <div class="col">
        <div class="footer-list-container">
          <span class="footer-list-title"> АДРЕСА </span>
          <span class="footer-list-item"> с.Обарів, вул. Миколаївська, 2 </span>
        </div>
      </div>
      <div class="col">
        <div class="footer-list-container">
          <span class="footer-list-title"> СОЦІАЛЬНІ МЕРЕЖІ </span>
          <span class="footer-sn-container">
            <a href="https://t.me/freshautos" target="_blank">
                <img src="assets/images/telegram.png">
            </a>
            <a href="https://www.instagram.com/freshauto.com.ua/" target="_blank">
                <img src="assets/images/instagram.png">
            </a>
            <a href="https://www.youtube.com/@freshauto8039" target="_blank">
                <img src="assets/images/youtube.svg">
            </a>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="footer-lng-buttons">
          <button class="footer-lng-button footer-lng-active-button">UA</button>
          <button class="footer-lng-button">EN</button>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="footer-bottom-text">
            <span>Fresh Auto 2021 © Всі права захищено.</span>
        </div>
    </div>
  </div>
</footer>
