.input-default {
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #3a393b;
  color: white;
  line-height: 19px;
  padding: 18px 16px 19px 16px;
  max-width: 100%;
  background: transparent;
  margin-bottom: 16px;
  resize: none;
}

.textarea-default {
  min-height: 100px;
}

.validation-error {
  color: red;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Стилі для браузера Chrome */
  .input-default {
    width: -webkit-fill-available;
  }
}

@supports (-moz-appearance: none) {
  /* Стилі для браузера Firefox */
  .input-default {
    -moz-width: -moz-fill-available;
  }
}
