<header class="navbartop-container">
    <div class="navbartop-content max-width-container">
        <nav class="company-nav-items">
            <a routerLink="cars" class="company-nav-link">
                Купити
            </a>
            <a href="#" class="company-nav-link">
                Продати
            </a>
            <a href="#" class="company-nav-link">
                Замовити
            </a>
            <a href="#" class="company-nav-link">
                Обмін/Trade in
            </a>
            <a href="#" class="company-nav-link">
                Лізинг/Кредит
            </a>
        </nav>
        <div class="company-logo" routerLink="/">
            <img src="assets/images/logo.svg">
        </div>
        <nav class="company-nav-items">
            <a href="#" class="company-nav-link">
                Контакти
            </a>
            <a routerLink="about-us" class="company-nav-link">
                Про нас
            </a>
            <a href="#" class="company-nav-link">
                Блог/Новини
            </a>
        </nav>
    </div>
</header>