<section class="homepage-aboutus">
  <div class="container">
    <div class="row">
      <span class="homepage-title wow fadeInLeft fadeInDown" data-wow-duration="2s">НАШ ДОСВІД</span>
    </div>

    <div class="row">
      <div class="col">
        <div class="aboutus-image wow fadeInLeft" data-wow-duration="2s">
          <img src="assets/images/team.jpg" />
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="experience-item wow fadeInLeft" data-wow-delay="1s" data-wow-duration="2s">
              <div class="experience-order">01</div>
              <div class="experience-title">10+ РОКІВ ДОСВІДУ</div>
              <div class="experience-text">
                РОБОТИ НА АВТОМОБІЛЬНОМУ РИНКУ ТА РИНКУ ЄВРОПЕЙСЬКИХ
                ОНЛАЙН-АУКЦІОНІВ
              </div>
            </div>
            <div class="experience-item wow fadeInLeft" data-wow-delay="3s" data-wow-duration="2s">
              <div class="experience-order">03</div>
              <div class="experience-title">СПІВПРАЦЯ З КРАЇНАМИ ЄС</div>
              <div class="experience-text">
                МИ ВИКУПЛЯЄМО АВТО ЛИШЕ НА ЄВРОПЕЙСЬКИХ ОНЛАЙН-АУКЦІОНАХ, З
                ЯКИМИ СПІВПРАЦЮЄМО ВЖЕ БАГАТО РОКІВ. У НАС ВИ МОЖЕТЕ ПРИДБАТИ
                АВТО З ТАКИХ КРАЇН ЯК НІДЕРЛАНДИ, ЩВЕЦІЯ, БЕЛЬГІЯ, НІМЕЧЧИНА,
                ІТАЛІЯ І Т.Д.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="experience-item wow fadeInLeft" data-wow-delay="2s" data-wow-duration="2s">
              <div class="experience-order">02</div>
              <div class="experience-title">ПІДБІР АВТО</div>
              <div class="experience-text">
                НАШІ ЕКСПЕРТИ ПІДБИРАЮТЬ ЛИШЕ ЦІЛІ АВТО З ОРИГІНАЛЬНИМ ПРОБІГОМ
              </div>
            </div>
           
            <div class="experience-item wow fadeInLeft" data-wow-delay="4s" data-wow-duration="2s">
              <div class="experience-order">04</div>
              <div class="experience-title">ДОКУМЕНТАЦІЯ</div>
              <div class="experience-text">
                ПРИ ПОКУПЦІ АВТО У НАС, ВИ ОТРИМУЄТЕ ВСЮ НЕОБХІДНУ СУПРОВОДЖУЮЧУ
                ДОКУМЕНТАЦІЮ, ЩО ДАЄ ВАМ ЗМОГУ ВІДРАЗУ НАСОЛОДЖУВАТИСЯ ПОКУПКОЮ
                БЕЗ ЖОДНИХ ЗАТРИМОК ТА ДОДАТКОВИХ ФОРМАЛЬНОСТЕЙ
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
