<section class="homepage-aboutus">
  <div class="container">
    <div class="row">
      <span class="homepage-title wow fadeInDown">НАШІ ПРІОРИТЕТИ</span>
    </div>
    <div class="row">
      <div class="col">
        <div
          class="experience-item wow fadeInLeft"
          data-wow-delay="1s"
          data-wow-duration="2s"
        >
          <div class="experience-order">01</div>
          <div class="experience-title">ЯКІСТЬ</div>
          <div class="experience-text">
            Ми реалізуємо практично нові авто в ідеальному стані та проводимо
            повний техогляд перед тим, як передати автомобіль власнику.
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="experience-item wow fadeInLeft"
          data-wow-delay="2s"
          data-wow-duration="2s"
        >
          <div class="experience-order">02</div>
          <div class="experience-title">Швидкість</div>
          <div class="experience-text">
            Маючи десятирічний досвід, ми налагодили робочий процес так, щоб ви
            могли максимально швидко насолоджуватися новим авто
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="experience-item wow fadeInLeft"
          data-wow-delay="3s"
          data-wow-duration="2s"
        >
          <div class="experience-order">03</div>
          <div class="experience-title">Відповідальність</div>
          <div class="experience-text">
            Підбір авто, його викуп, перевірка стану, транспортування в Україну,
            підготовка до продажу, оформлення документів, створення якісного
            контенту - до всіх нюансів і етапів роботи ми підходимо
            відповідально. Тому клієнт може бути впевнений у своєму виборі.
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="experience-item wow fadeInLeft"
          data-wow-delay="4s"
          data-wow-duration="2s"
        >
          <div class="experience-order">04</div>
          <div class="experience-title">Чесність</div>
          <div class="experience-text">
            Ми працюємо відкрито та чесно. Хороший результат роботи - це, перш
            за все, задоволений клієнт, який залюбки повертається за наступним
            авто
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us-video wow fadeInLeft" data-wow-delay="5s"
data-wow-duration="1s">
    <video controls autoplay loop>
        <source src="assets/video/Fresh_Auto_Background_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
</section>

<fa-our-experience></fa-our-experience>